.row{
    margin-top:10px;
  }
  .toolbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      
      color: #fff;
      background-color: #ee6e73;
      height: 56px;
      z-index: 9997;
  }
  .topnav {
      overflow: hidden;
    
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    
   
    .topnav-right a:hover {
      background-color: rgba(0,0,0,.15)!important;
    }
  
    .topnav-right a button {
      text-decoration: none;
      color: #fff;
      background-color: #26a69a;
      text-align: center;
      letter-spacing: .5px;
      font-size: 14px;
      outline: 0;
      border-color: #26a69a;
    }
  
    
  
    .hero-image {
      background-image: url("https://aidforcancer.com/static/media/information-blurred.88c33272.jpg");
      width:100%;
      margin:0 auto;
      height: 200px;
      padding: 0 3em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .hero-text h3{
    font-size: 2.92rem;
    margin: 1.94667rem 0 1.168rem;
    font-family: Montserrat;
    }
    .hero-text p{
      font-size: 15px;
    }
    .image1{
        margin-top:10px;
    }
    nav {
      color: #fff;
      background-color: #ee6e73;
      width: 100%;
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 1rem;
    
    }
    ul.navbar-nav ml-auto nav-item active {
      background-color: rgba(0,0,0,.15)!important;
  }
  
  .sidenavbar {
    width:90%;
    border: 1px solid #e0e0e0;
  }
  .sidenavbar a.active{
  background-color: #26a69a;
  color: #eafaf9;
  }
  .sidenavbar a {
    color:  #26a69a;
      text-decoration: none;
      background-color: transparent;
      display: block;
    
    
      background-color: #fff;
      line-height: 1.5rem;
      padding: 10px 20px;
      margin: 0;
      border-bottom: 1px solid #e0e0e0;
  }
  
  .news{
    display:inline;
    float:left;
  }
  .showall{
    display:inline;
    float:right;
  }
  .carddata{
    display:flex;
    flex-wrap: nowrap;
  }
  .carddata img{
    width:60px;
  }
  .content{
    width:80%;
  }
  .like-count-wrapper{
      display:inline;
  }
  .comments-count-wrapper{
    display:inline;
  }
  .carddata{
    width: 100%;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin-bottom: 5px;
  }
  .fa-thumbs-up{
    color: #3c60ed;
  }
  
  .fa-comments {
    color: #ee6e73;
  }
  .comments-count-wrapper{
    margin-left:10px;
  }
  .content p{
    font-size:14px;
  }
  .newsheading {
  margin-bottom:29px;
  }