.showcase {
     height: 320px;
     overflow:hidden;
}


.home-wrapper {
    background: #f2f2f2;
}
.img {
 background-image: url("https://tpc.googlesyndication.com/simgad/10511573110605749565");
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.imgblock {
	padding:20px;
}
.movies .rd-img-top1{
border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height:278px;
}

.card{
 
    margin: 0 14px 20px;
}
.card-body {
    
    flex: 1 1 auto;
    padding: 0.5rem;
    height: 100px;
}
.card-body-likes{
    display: inline;
    float: left;
}
.card-body-likes i {
	color:red;
}
.card-body-likes span {
    margin-left: 10px;
}
.movie-type{
    margin: 0 auto;
    width: 80%;
}
 .movie-name{
    display: inline;
    margin-left: 13px;
}
.recomendedvido{
	display :inline;
	float:left;
}
.viewall{
	display:inline;
	float:right;

}
.movie-type span{
	font-size:14px;
}
.movieshead{
	margin-top:10px;
	margin-bottom:10px;
}
.TrendingSearches{
    padding: 0px 20px;
}

.movie{
    background-color: #fff;
    margin-bottom: 5px;
    padding-left: 9px;
    padding: 7px 10px;
    border: 1px solid #f1f1f1;

}
.movieees h4{
    font-size: 14px;
    line-height: 18px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}


.movieees1 p{
	line-height: 14px;
    font-size: 12px;
	color: #999;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    margin-bottom:0px;
}
.list-of-movies {
margin-top:10px;
}
.content{
    display:flex;
}
.date {
    display:inline;
    
    float:left;
    height:100px;
}
.movie-description{
    display:inline;
    width:70%;
}

/* .movie-description p{
    margin:0px;
    font-size:14px;
} */
.movie-description span {
    font-size:12px;
}

.date1{
    float:left;
    display:inline;
    margin-right:10px;
}
.movie-description1{
    float:left;
    display:inline-block;
    margin-right:10px;
}

.movie-description p {
    margin-top : 0px;
    margin-bottom: 0px
}