footer {
    clear: both;
    padding: 1px 0 0;
    background: #f2f2f2;
}
.privacy-policy-footer {
    max-width: 1280px;
    margin: 15px auto;
    padding: 0 15px;
    }
.privacy-policy-footer h4 {
    font-size: 12px;
    line-height: 14px;
    color: #7f7f7f;
    font-weight: 500;
    margin-bottom: 5px;
}
 .privacy-policy-footer p {
    font-size: 12px;
    line-height: 16px;
    color: #999;
}
.sup-action {
    zoom: 1;
    text-align: center;
    width: 100%;
    background: #404043;
    color: #fff;
}

  
.__sup-icon span svg {
    width: 64px;
}
.sup-action .col .__sup-icon .__text {
  color: rgba(188,192,196,.74);
    margin-top: 10px;
    display: block;
    

    margin-bottom: 1rem;
    font-size: 11px;
    color: white;
}
.footer-container .new-footer-links {
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 0;
    background: #313035;
}
.footer-container {
    background: #333338;
    
}
.footer_movies li {
	display:inline;
    text-decoration:none;
    color: #333338;

}
.footer_movies li a:hover{
    color:white;
}
.wrapper{
    font-size: 12px;
   padding: 17px 0px;
}
.bestmovie a {
    cursor: pointer;
    color: #7f7f7f;
    font-size:11px;
    }
.bestmovie h4 {
    color: #a5a5a5;
    margin-bottom: 15px;
    font-size: 11px;
    margin-left: 35px;
   
}
.bestmovie{
text-align:left;
}
.bestmovie li{
     list-style: none;
     display:inline;
     }
 .m1{
 	margin-top:10px;
 } 
 
.__footer-bms-logo svg{
	width:150px;
	
} 
 hr{
width:100%;
color:black;
margin-top:70px;
}


/*

.footer-container .new-footer-links .wrapper .new-movies-links .footer_movies {
    width: 100%;
    float: left;
    list-style: none;
    font-size: 11px;
    line-height: 16px;
    }
    .footer-container .new-footer-links .wrapper .new-movies-links {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 37px 18px;
}




*/


.__footer-bms-logo
{
	margin-left: 45%;
    margin-top: -90px;
   
}

.fonticons{
	width: 42%;
	margin:0 auto;
	height: 80px;

	 
}
 
.fonticons li{
	text-align:center;
	float: left;
	background-color: white;
	border-radius: 50%;
	padding: 0.5em 0.6em;
	margin: 10px;
	list-style-type: none;
}
i.fab {
  display: inline-block;
   width:18px;
  
  
  }

.copyright{
	width:90%;
    font-size: 12px;
    text-align: center;
    margin:0 auto;
    padding:5px;
}
.footermiddle{
background: #404043;
}

.m1 a:hover{
  color:white;
}
.footer_movies li a {
    color:#7f7f7f
}








