.navbar {
    background: #333545;
    padding: 0 10px;
}
.select-overlay {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
}
.navbar .primary-header {
    height: 100px;
    max-width: 1280px;
    display: inline;
    float: left;
    padding: 15px 0;
    width:20%;
}

.navbar .primary-header .header-col.header-col-1 .brand .logo {
    width: 122px;
    height: 36px;
    display: block;
    margin-top: 5px;
}
.searchbox {
    display: inline;
    float: left;
    position: absolute;
    left: 162px;
    top: 12px;
    width: 922px;
}
.searchbox input[type=text] {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 50px;
    font-size: 12px;
    color: #999;
}

.subNav .list li{
  display:inline;
  text-decoration:none;
  list-style: none;
  float:left;
  margin:0px 10px;
  color:white;
  font-size:15px;
}

.subNav .list1 li{
 display:inline;
  text-decoration:none;
  list-style: none;
  float:left;
  color:white;
  margin:0px 8px;
font-size: 12px;
    color: rgba(255,255,255,.5);
    line-height: 16px;
    font-weight: 500;

}
.subNav .list li a:hover{
    color:#e82e47;
    

}
.subNav .list li a {
    text-decoration: nome;
    color:white;
}
.subNav .list1 li a:hover{
    color:#e82e47;
    

}

.subNav .list1 li a {
    text-decoration: nome;
    color:white;
}
.subNav .list1 li:first-child{
    margin-left:53px;
}
.subNav .list:first-child { 
 margin-left: -45px;
}
.signin{
    display: inline;
    position: absolute;
    float: right;
    left: 1108px;
    top: 23px;
}
.userpro {
display:inline;
float:left;
text-align: center;
border-radius: 50%;

}
.userpro i{
    font-size: 27px;
    color:white;
}
.usernamr {
    display: inline;
    float: left;
    margin-left: 10px;
    color: white;
    font-size: 15px;  
}